Numpy를 import해서 버전을 확인해봅시다

In [1]:
import numpy as np

np.__version__

'1.22.3'

Numpy를 사용해서 1차원 Array를 선언해봅시다

In [ ]:
arr = [1, 2, 3, 4, 5]
np_arr = np.array(arr)
print(np_arr)

[1 2 3 4 5]

선언한 Array의 Rank, Shape, Size를 출력해봅시다

In [ ]:
print(np_arr.)
print(np_arr.)
print(np_arr.)

1
(5,)
5

슬라이싱을 활용해서 2,3번째 element를 출력해봅시다.

In [ ]:
print(np_arr[])

[3 4]

슬라이싱은 python과 동일한 규칙을 따릅니다. [start:stop:step]
이번에는 슬라이싱을 활용하여 0, 2 4번째 element를 출력해봅시다.

In [ ]:
print(np_arr[])

[1 3 5]

이번엔 array() 함수를 사용하여 2차원 배열을 선언해봅시다.

In [ ]:
import numpy as np
np_2d_arr = np.array([[1, 4, 2], [7, 5, 3]])
print(np_2d_arr)

[[1 4 2]
 [7 5 3]]

선언한 2차원 Array의 Rank, Shape, Size를 출력해봅시다

In [ ]:
print(np_2d_arr.)
print(np_2d_arr.)
print(np_2d_arr.)

2
(2, 3)
6

슬라이싱을 활용하여 아래의 색칠된 영역을 선택해보세요

![제목 없음.png]()

In [ ]:
print(np_2d_arr[])
print(np_2d_arr[])
print(np_2d_arr[])
print(np_2d_arr[])

[5]
[7 5]
[[2]
 [3]]
[[1 4]
 [7 5]]

array() 함수를 사용하여 아래와 같은 3차원 array를 선언해봅시다

In [ ]:
nums = np.array([[[1,4,2], [7,5,3]],
                 [[0,4,8],[6,9,1]],
                 [[7,6,9],[4,0,8]]])
print(nums)

[[[1 4 2]
  [7 5 3]]

 [[0 4 8]
  [6 9 1]]

 [[7 6 9]
  [4 0 8]]]

슬라이싱과 copy() 결과의 차이를 아래의 코드를 통해 살펴봅시다

In [ ]:
nums = np.array([1, 4, 2, 5, 3])

ref = nums[1:4]
cpy = nums[1:4].copy()

print(ref)
print(cpy)

nums[2] = 10

print(ref)
print(cpy)

[4 2 5]
[4 2 5]
[ 4 10  5]
[4 2 5]

np.zeros(), np.ones(), np.full()을 사용하여 배열을 선언해봅시다

In [ ]:
print(np.)
print(np.)
print(np.)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]
[[7 7]
 [7 7]]

np.random.random(), np.random.normal(), np.random.randint()를 사용하여 배열을 선언해봅시다

In [ ]:
print(np.random.)
print(np.random.)
print(np.random.)

[[0.30295315 0.77297711]
 [0.57720399 0.38309002]]
[1.77974208 0.57703419]
[[4 2]
 [4 1]]

np.arange()를 사용하여 배열을 선언해봅시다

In [ ]:
print(np.arange())

[0.4 0.5 0.6 0.7 0.8 0.9 1. ]

np.linspace()를 사용하여 어떻게 배열이 생성되는지 아래의 코드를 통해 살펴봅시다

In [ ]:
print(np.linspace(0, 1, num=5, endpoint=False))

[0.  0.2 0.4 0.6 0.8]

In [ ]:
print(np.linspace(0, 1, num=5, endpoint=True))

[0.   0.25 0.5  0.75 1.  ]

In [ ]:
print(np.linspace(0, 1, num=5, endpoint=False, retstep=True))

(array([0. , 0.2, 0.4, 0.6, 0.8]), 0.2)

np.identity()와 np.eye()를 사용하여 단위행렬을 생성하고 움직여봅시다

In [ ]:
print(np.)
print(np.)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[0. 0. 0.]
 [0. 0. 0.]
 [1. 0. 0.]]

(1,8) 모양의 numpy 배열을 생성하고 reshape를 사용하여 (2,2,2)로 변형해봅시다

In [ ]:
nums = np.array([1, 2, 3, 4, 5, 6, 7, 8])
print(nums.)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

(2, 4) numpy 배열을 생성하고 Transpose를 사용해봅시다

In [2]:
nums = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(nums.T)

[[1 5]
 [2 6]
 [3 7]
 [4 8]]

transpose() 함수와 swapaxes()함수를 사용하여 위와 동일한 결과를 출력해봅시다

In [6]:
print(nums.transpose())
print(nums.swapaxes(0,1))

[[1 5]
 [2 6]
 [3 7]
 [4 8]]
[[1 5]
 [2 6]
 [3 7]
 [4 8]]

concatenate() 함수를 사용하여 아래와 같은 배열을 만들어 봅시다
![제목 없음.png]()

In [7]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
print(np.concatenate((x, y)))

[1 2 3 3 2 1]

concatenate() 함수를 사용하여 아래와 같은 배열을 만드려면 어떻게 해야할지 코드를 짜봅시다
![제목 없음.png]()

In [10]:
grid = np.array([[1, 2, 3], [4, 5, 6]])
print(np.concatenate((grid, grid), axis=1))

[[1 2 3 1 2 3]
 [4 5 6 4 5 6]]

2차원 배열을 선언하고 split() 함수를 사용하여 axis = 0 방향으로 배열을 [2,4] 모양으로 분할해봅시다

In [11]:
grid = np.arange(16).reshape((4, 4))
upper, lower = np.split(grid, [2])
print(grid)
print(upper)
print(lower)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[0 1 2 3]
 [4 5 6 7]]
[[ 8  9 10 11]
 [12 13 14 15]]

In [ ]:
print(np.split(grid, [2], axis=0))

[array([[0, 1, 2, 3],
       [4, 5, 6, 7]]), array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])]

split() 함수를 사용하여 axis = 1 방향으로 배열을 [4,2] 모양으로 분할해봅시다

In [ ]:
print(np.split())

[array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]]), array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]])]

배열을 하나 선언하고 배열에 있는 숫자를 섭씨로 바꿔봅시다

![제목 없음.png]()

* 참고) numpy 배열에 새로운 element를 넣을때는 python과 동일하게 append를 사용합니다

* ex) arr = np.append(arr, element or array)

In [13]:
arr_f = np.array([100, 80, 70, 90, 110])
arr_c = np.array([])

for i in arr_f:
    arr_c = np.append(arr_c, (i-32)*5/9)
  

print(arr_c)

[37.77777778 26.66666667 21.11111111 32.22222222 43.33333333]

벡터화 연산을 사용하여 위와 동일한 결과를 내는 코드를 작성해 봅시다

In [ ]:
print()

[37.77777778 26.66666667 21.11111111 32.22222222 43.33333333]

아래의 코드를 실행해보면서 broadcasting에 대해 이해해봅시다

In [ ]:
noise = np.eye(4) + 0.01 * np.ones((4,))

print(np.eye(4))

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [ ]:
print(np.ones((4,)))

[1. 1. 1. 1.]

In [ ]:
print(noise)

[[1.01 0.01 0.01 0.01]
 [0.01 1.01 0.01 0.01]
 [0.01 0.01 1.01 0.01]
 [0.01 0.01 0.01 1.01]]

아래와 같은 배열을 선언하고 평균을 구해보세요

![제목 없음.png]()

In [ ]:
grid = np.array([[1, 2, 3], [4, 6, 2]])
print(np.mean(grid))

3.0

mean() 함수를 사용하여 각 행, 열별 평균을 구해보세요

In [ ]:
print(np.mean())
print(np.mean())

[2.5 4.  2.5]
[2. 4.]

Random한 값이 들어있는 (3, 4) 배열을 선언하고 6보다 작은 값이 몇 개인지 찾아봅시다

In [ ]:
x= np.random.randint(10, size=(3,4))
print(x)
print(np.sum(x < 6))

[[4 0 6 0]
 [2 9 8 6]
 [5 0 2 5]]
[3 2 1 2]

각 행, 열별로 6보다 작은 값은 몇 개가 있는지 구해보세요

In [ ]:
print(np.sum())
print(np.sum())

[3 2 1 2]
[3 1 4]

bitwise 연산자를 사용하여 3 이하 또는 6 이상인 값이 몇개인지 찾아봅시다

In [ ]:
print(np.sum())

9

Boolean array와 bitwise 연산자를 사용하여 3 이하 또는 6 이상인 값을 출력해봅시다

In [ ]:
print(x[])

[0 6 0 2 9 8 6 0 2]